<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.xj.ser.mapper.HeadMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="headResultMap" type="cn.edu.shu.xj.ser.entity.HeadEntity">
        <result column="head_id" property="headId"/>
        <result column="user_id" property="userId"/>
        <result column="head_att" property="headAtt"/>
        <result column="head_med" property="headMed"/>
        <result column="head_delta" property="headDelta"/>
        <result column="head_theta" property="headTheta"/>
        <result column="head_low_alpha" property="headLowAlpha"/>
        <result column="head_high_alpha" property="headHighAlpha"/>
        <result column="head_low_beta" property="headLowBeta"/>
        <result column="head_high_beta" property="headHighBeta"/>
        <result column="head_low_gamma" property="headLowGamma"/>
        <result column="head_high_gamma" property="headHighGamma"/>
        <result column="head_time" property="headTime"/>
        <result column="head_status" property="headStatus"/>
    </resultMap>
    <insert id="addData">
        insert into head(user_id,head_att,head_med,head_delta,head_theta,head_low_alpha,head_high_alpha,head_low_beta,head_high_beta,head_low_gamma,head_high_gamma,head_time,head_status)
        VALUES(#{userId},#{headAtt},#{headMed},#{headDelta},#{headTheta},#{headLowAlpha},#{headHighAlpha},#{headLowBeta},#{headHighBeta},#{headLowGamma},#{headHighGamma},#{dataTime},#{headStatus})
    </insert>

    <select id="getAllMyrecordTotal" resultType="java.lang.Long">
        select count(*)
        from head
        where head_status = 0 and user_id =#{userId}
    </select>

    <select id="getUserRemindTimes" resultType="java.lang.Long">
        select user_remind
        from user
        where user_id =#{userId}
    </select>

    <select id="getAllMyrecordAllTime" resultType="java.lang.Long">
        select count(*)
        from head
        where user_id =#{userId}
    </select>

    <select id="getdataFromMachine0" resultType="cn.edu.shu.xj.ser.entity.HeadEntity">
        SELECT *
        FROM head AS t1 JOIN (SELECT ROUND(RAND()*(SELECT MAX(head_id) FROM head)) AS id) AS t2
        WHERE t1.head_id>=t2.id and head_status = 0
        ORDER BY t1.head_id LIMIT 1
    </select>

    <select id="getdataFromMachine1" resultType="cn.edu.shu.xj.ser.entity.HeadEntity">
        SELECT *
        FROM head AS t1 JOIN (SELECT ROUND(RAND()*(SELECT MAX(head_id) FROM head)) AS id) AS t2
        WHERE t1.head_id>=t2.id and head_status =1
        ORDER BY t1.head_id LIMIT 1
    </select>

    <select id="getNewData" resultType="cn.edu.shu.xj.ser.entity.HeadEntity">
        select head.*
        from head
        where head_id = (
	        select max(head_id)
	        from head
	        where user_id = #{userId})
        order by head.head_id
    </select>

    <select id="getTenMinData" resultType="cn.edu.shu.xj.ser.entity.HeadEntity">
        select *
        from head
        where head_time >=#{nowTime_10} And user_id = #{userId}
    </select>


</mapper>
